tradingview-free.duckdns.org {
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }
    reverse_proxy tradingview-gratis:3000
}

qc-signals.duckdns.org {
    tls {
         dns duckdns {env.DUCKDNS_TOKEN}                       
    }
    reverse_proxy webhook-dashboard:3000
}    
